.article .free-text {
  #body-header {
    margin-bottom: 4em;
    font-size: 75%;
  }

  #body-footer {
    margin-top: 4em;
    font-size: 75%;
  }
}

#toc {
  border-bottom:1px solid #efefed;
  padding-bottom:.5em;

  #toctitle {
    color: inherit;
  }
}

#toc>ul {
  margin-left:.125em;
  padding: 0;
}

#toc ul.sectlevel0>li>a {
  font-style:italic;
}

#toc ul.sectlevel0 ul.sectlevel1 {
  margin:.5em 0;
}

#toc ul {
  font-family:"Open Sans","DejaVu Sans",sans-serif;
  list-style-type:none;
}

#toc li {
  line-height:1.3334;
}

#toc a {
  text-decoration:none;
}

#toc a:active {
  text-decoration:underline;
}

#toctitle {
  color:#7a2518;
  font-size:1.2em;
}

body.toc2 {
  padding-right:0;
}

#toc.toc2 {
  margin-top:0!important;
  background-color:#f8f8f7;
  position:relative;
  left:0;
  top:0;
  border-right:1px solid #efefed;
  border-top-width:0!important;
  border-bottom-width:0!important;
  z-index:1000;
  padding:1.25em 1em;
  height:100%;
  overflow:auto
}

#toc.toc2 #toctitle {
  margin-top:0;
  margin-bottom:.8rem;
  font-size:1.2em
}

#toc.toc2>ul {
  font-size:.9em;
  margin-bottom:0;
}

#toc.toc2 ul ul {
  margin-left:0;
  padding-left:1em;
}

#toc.toc2 ul.sectlevel0 ul.sectlevel1 {
  padding-left:0;
  margin-top:.5em;
  margin-bottom:.5em;
}

body.toc2.toc-right {
  padding-left:0;
  padding-right:15em;
}

body.toc2.toc-right #toc.toc2 {
  border-right-width:0;
  border-left:1px solid #efefed;
  left:auto;right:0;
}

@media (min-width:1200px) {
  body.toc2 {
    padding-right:0;
  }

  #toc.toc2 {
    width:20em;
  }

  #toc.toc2 #toctitle {
    font-size:1.375em;
  }

  #toc.toc2>ul {
    font-size:.95em;
  }

  #toc.toc2 ul ul {
    padding-left:1.25em;
  }

  body.toc2.toc-right {
    padding-left:0;
    padding-right:20em;
  }
}

.article .free-text {
  min-width: 100%;

  .tableblock {
    word-wrap: break-word;
    table-layout: fixed;
  }

  table .icon {
    width: 0;
  }

  table td p {
    margin: .2em 0;
  }

  a, h2 {
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  pre {
    border: none;
  }
}

.article img {
  border:0;
}

.article img,object,embed {
  max-width:100%;
  height:auto;
}

.article img {
  -ms-interpolation-mode:bicubic;
}

.article img,object,svg {
  display:inline-block;
  vertical-align:middle;
}

.article a img {
  border:none;
}